/*all HTML CSS */

img {
    max-width: 400px;
}
body {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    background-color: white;
    font-size: 0.75em;

}
header, footer {
    background-color: #B8B8B7;
    color: #0b0b45;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    width: 100%;
    font-size: 1.5em;
}

h1 {
    font-family: 'Marck Script', cursive;
    font-size: 3.5em;
    grid-column: 2/3;
    align-self: center;
    padding: 10px;
}
main {
    padding: 50px;
}

 ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
  } 
nav {
    margin: 0;
    padding: 0;
    text-align: center;
    
}
nav ul li a {
    color: #0b0b45;
    text-decoration: none;
    font-size:1em;
}


.categories {
    display:grid;
    max-width: 1000px;
    grid-template-columns: auto auto;
    place-items: center;
    margin: 0 auto;
}

.griditem {
  font-size: 2em;
  text-align: center;
  
}
.meetJeri {
    display:grid;
    grid-template-columns: 25% 25%;
    place-items: center;
    justify-content: center;
   

}
.gridJeri {
  padding: 20px;
  font-size: 1.3em;
  text-align: center;
  
}

.pricing {
    display:grid;
    grid-template-columns: 375px 400px;
    place-items: center;
    justify-content: center; 
}

.gridprice1 {
    grid-row-start: 1;
    grid-row-end: 5;
}

.gridprice {
    grid-column: 2;
    font-size: 1.3em;
    
}

#cutebaby {
    height: 500px;
}
/*babies.html CSS*/ 
.babiescontainer {
   column-count: 3;
   max-width: 1300px;
   margin: 0 auto;
   padding: 30px;
}

.item {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    padding: 10px;

}

a {
    text-decoration: none;
    color: #0b0b45;
}
/*FAMILIES HTML CSS*/
.familiescontainer {
    column-count: 3;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}
/* ENAGEMENT HTML CSS */
.engagementcontainer{
    column-count: 3;
    max-width: 1300px;
    margin: 0 auto;
    padding: 30px;
}
/*meet Jeri Photo */
#johnstonfamily {
    max-width: 600px;
}
 /*Index.HTML Transition Code*/
   .griditem:hover {
    transform: scale(1.3);
    }

